.databoard {
    border: solid black;
    border-width: 1px;
    /* height: auto; */
    height: 55px;
    /* height: 7.5vh; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.gameboard {

}

.row {
    display: flex;
}

.tile {
    border: solid blue;
    border-width: 1px;
    height: 50px;
    width: 50px;
}